* { 
   margin: 0; 
   padding: 0;
 }

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
  margin: auto;
}

header { 
  display: flex;
  height: 40px; 
  width: 100%;
  justify-content: space-around;
  background-color: #1F2930;
  margin: 0;
}

header ul {
  display: inline-flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: 18px;
  width: 30%;
  margin: auto 0 auto 0;
  color: #E5E7EB;
}

.logo { 
  margin: auto 5px;
  font-size: 24px;
  color: #F9FAF8;
}

.top-section {
  display: inline-flex;
  width: 100%;
  background-color: #1F2930;
  padding: 5% 10%;
}

.hero-txt {
  font-size: 48px;
  font-weight: 800;
  padding-bottom: 10px;
  color: #F9FAF8;
}

.hero-second {
  font-size: 18px;
  padding-bottom: 10px;
  color: #E5E7EB;
}

.hero-btn {
  background: #3882F6;
  color: #F9FAF8;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  width: 96px;
  border-radius: 5px;
  border-style: none;
  padding: 5px;
  margin: 5px;
}

.top-left {
  flex: 1;
  text-align: left;
}

.top-right {
  flex: 1;
}

.middle-section {
  margin: 48px;
}

.mid-head {
  font-size: 36px;
  color: #1f2937;
  font-weight: 800;
  text-align: center;
  margin-bottom: 24px;
}
.image-section {
  display: flex;
  justify-content: center;
  gap: 64px;
}

.mid-item {
  border: 3px solid #3882F6;
  border-radius: 10px;
}

.img-caption {
  display: block;
  width: 128px;
  font-size: 18px;
  text-align: center;
  margin: 0 auto;
}

.bottom-section {
  background-color: #e5e7eb;
  padding: 24px;
}

blockquote {
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  margin: 36px;
}

cite {
  display: block;
  text-align: right;
  font-weight: 700;
  font-size: 24px;
}

.sub-bottom-section {
  padding: 4em; 
  text-align: center;
}

.call-action {
  display: inline-flex;
  border: 1px solid #3882F6;
  border-radius: 5px;
  justify-content: space-between;
  align-items: center;
  background-color: #3882f6;
  padding: 48px;
  width: 80%;
}

.call-left {
  display: block;
  text-align: left;
}

.call-head {
  font-size: 24px;
  color: #F9FAF8;
}


.call-text {
  font-size: 18px;
  color: #F9FAF8;
}

.call-button {
  color: #F9FAF8;
  background-color: #3882F6;
  border: 2px solid #F9FAF8;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  width: 96px;
  text-align: center;
  padding: 5px;
  
}

footer {  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #F9FAF8;
  height: 64px;
}


