* { 
   margin: 0; 
   padding: 0;
 }

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 1000px;
  margin: auto;
}

header { 
  display: flex;
  height: 40px; 
  width: 100%;
  justify-content: space-between;
  background-color: #1F2930;
  margin: 0;
}

header ul {
  display: inline-flex;
  justify-content: space-evenly;
  list-style: none;
  width: 30%;
  margin: auto 0 auto 0;
  color: #E5E7EB;
}

.logo { 
  margin: auto 5px;
  font-size: 24px;
  color: #F9FAF8;
}

.top-section {
  display: inline-flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: #1F2930;
}

.hero-txt {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

.hero-second {
  font-size: 18px;
  color: #E5E7EB;
}

.top-left {
  padding: 20px;
  margin: 20px;
}
.top-right {
  background-color: grey;
  padding: 20px;
  margin: 20px;
}

.middle-section {
  display: flex;
  justify-content: space-evenly;
}
